Source: nymea-energy-plugin-consolinno
Section: utils
Priority: optional
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 3.9.7
Homepage: https://nymea.io
Build-Depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               libnymea-dev (>= 0.17),
               libnymea-energy-dev,
               nymea-dev-tools:native,
               qt5-qmake,
               qtbase5-dev,

Package: nymea-energy-plugin-consolinno
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-experience-plugin-energy,
Description: consolinno energy plugin for the nymea energy experience
 This consolinno energy plugin adds the HEMS optimization functionality to the 
 nymea energy experience.

Package: consolinno-hems-updater
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Script to update consolinno-hems packages
 This packages provides a script which updates only packages from the 
 consolinno-hems Meta package.


Package: consolinno-hems-version-info
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Package containing version infos for the Consolinno HEMS product

Package: consolinno-hems-base
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-updater,
         consolinno-hems-version-info,
         nymead,
         nymea-data,
         nymea-energy-plugin-consolinno,
         conems,
Description: Consolinno Home Energy Management System
 Meta package for basic components.

Package: consolinno-hems-leaflet
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-base,
         authentication-button,
         statusledcontroller,
Description: Consolinno Home Energy Management System
 Meta package for leaflet specific packages


Package: consolinno-hems-plugins
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-base,
         nymea-plugin-abb,
         nymea-plugin-alfen,
         nymea-plugin-alphainnotec,
         nymea-plugin-amperfied,
         nymea-plugin-atronixax,
         nymea-plugin-azzurro,
         nymea-plugin-bgetech,
         nymea-plugin-bgetech-inverter,
         nymea-plugin-bgetech-consumer,
         nymea-plugin-delta,
         nymea-plugin-dvmodbusir,
         nymea-plugin-e3dc,
         nymea-plugin-epexconsolinno,
         nymea-plugin-easee,
         nymea-plugin-emh,
         nymea-plugin-evbox,
         nymea-plugin-fenecon,
         nymea-plugin-foxaioh3,
         nymea-plugin-foxh3,
         nymea-plugin-foxh3pro,
         nymea-plugin-foxesswb,
         nymea-plugin-foxesswbv3,
         nymea-plugin-fronius,
         nymea-plugin-generic-car,
         nymea-plugin-genericconsolinno,
         nymea-plugin-goecharger,
         nymea-plugin-goodwe,
         nymea-plugin-growatt,
         nymea-plugin-huawei,
         nymea-plugin-idm,
         nymea-plugin-kaco,
         nymea-plugin-kaco-sunspec,
         nymea-plugin-kostal,
         nymea-plugin-kostalmeter,
         nymea-plugin-kostalmeterinverter,
         nymea-plugin-kostalpiko,
         nymea-plugin-keba,
         nymea-plugin-mennekes,
         nymea-plugin-sajh2,
         nymea-plugin-sax,
         nymea-plugin-schneider,
         nymea-plugin-schneider-iem,
         nymea-plugin-sgready,
         nymea-plugin-shelly,
         nymea-plugin-simplesmartconsumer,
         nymea-plugin-sma,
         nymea-plugin-solax,
         nymea-plugin-solaxevc,
         nymea-plugin-sungrow,
         nymea-plugin-sunspec,
         nymea-plugin-stiebeleltron,
         nymea-plugin-technivolt,
         nymea-plugin-phoenixconnect,
         nymea-plugin-webasto,
         nymea-plugin-ocpp-wallbox-info,
         nymea-zeroconf-plugin-avahi,
         nymea-system-plugin-systemd,
Description: Consolinno Home Energy Management System
 plugins

Package: consolinno-hems-grid-support
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-base,
         nymea-plugin-grid-support,
         libiec61850,
         fnnstb-plim-server,
Description: Consolinno Home Energy Management System
 packages to enabling grid support features
 
Package: consolinno-hems-plugins-cigate
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-base,
         cigate-adapter-modbus,
Description: Consolinno Home Energy Management System
 CI gate backend


Package: consolinno-hems-plugins-ocpp
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-base,
         ocpp-centralsystem,
Description: Consolinno Home Energy Management System
 CI OCPP plugins

Package: consolinno-hems-devtools
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems,
         vim,
         byobu,
         nymea-plugin-energy-simulation,
Description: Dev tools for Consolinno Home Energy Management System
 Meta package for dev tools for a consolinno
 HEMS system.

