Source: nymea-energy-plugin-consolinno
Section: utils
Priority: optional
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 3.9.7
Homepage: https://nymea.io
Build-Depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               libnymea-dev (>= 0.17),
               libnymea-energy-dev,
               nymea-dev-tools:native,
               qt5-qmake,
               qtbase5-dev,

Package: nymea-energy-plugin-consolinno
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-experience-plugin-energy,
Description: consolinno energy plugin for the nymea energy experience
 This consolinno energy plugin adds the HEMS optimization functionality to the 
 nymea energy experience.

Package: consolinno-hems-updater
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Script to update consolinno-hems packages
 This packages provides a script which updates only packages from the 
 consolinno-hems Meta package.


Package: consolinno-hems
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems-updater,
         nymea,
         nymea-energy-plugin-consolinno,
         conems,
         authentication-button,
         statusledcontroller,
         nymea-plugin-alphainnotec,
         nymea-plugin-bgetech,
         nymea-plugin-bgetech-inverter,
         nymea-plugin-delta,
         nymea-plugin-e3dc,
         nymea-plugin-fronius,
         nymea-plugin-huawei,
         nymea-plugin-idm,
         nymea-plugin-kaco,
         nymea-plugin-keba,
         nymea-plugin-schneider,
         nymea-plugin-schneider-iem,
         nymea-plugin-sgready,
         nymea-plugin-sma,
         nymea-plugin-sunspec,
         nymea-plugin-sunspec,
         nymea-plugin-wallbe,
         nymea-plugin-webasto,
         nymea-zeroconf-plugin-avahi,
         nymea-system-plugin-systemd,
Description: Consolinno Home Energy Management System
 Meta package for everything required to install a consolinno
 HEMS system.


Package: consolinno-hems-devtools
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         consolinno-hems,
         vim,
         byobu,
         nymea-plugin-energy-simulation,
Description: Dev tools for Consolinno Home Energy Management System
 Meta package for dev tools for a consolinno
 HEMS system.

